<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['employee/createEmployee']">{{
          "Employee" | translate
        }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['project']">{{
          "project" | translate
        }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['employee/employeeTable']">{{
          "EmployeeList" | translate
        }}</a>
      </li>
      <li class="nav-item">
        <select
          class="custom-select p-1 m-2 bg-secondary text-white"
          (change)="changeLanguage($event)"
        >
          <option value="en" [selected]="lang == 'en'">English</option>
          <option value="fr" [selected]="lang == 'fr'">French</option>
        </select>
      </li>
    </ul>
  </div>
</nav>
